body {
    display: flex;
    flex-direction: column;
}

div#editArea {
    display: flex;
    flex-direction: column;
    width: 250px;
}

div#content {
    flex-basis: auto;
    display: flex;
}

textarea {
    tab-size: 2;
    margin: 16px;
    font-family: monospace;
    font-size: medium;
}

textarea#treeEntry {
    overflow: auto;
    height: 500px;
}

textarea#options {
    overflow: auto;
    height: 150px;
}

svg#diagramSvg {
    flex: 2;
    margin: 16px;
    width: 550px;
    height: 700px;
}
