body {
    display: flex;
    flex-direction: column;
}

div#content {
    flex-basis: auto;
    display : flex;
}

div#treehere {
    overflow: auto;
    height:740px;
}

svg#diagramhere {
    flex: 2;
}
